body { width:1024px; margin:0 auto; }
header, article, footer 
       { position:absolute; padding:10px; border:1px solid black; display:block; margin-top:10px; }
header { top:0%; width:1024px; height:120px; background-color:lightyellow; }
header h2 { position:absolute; left:270px; }
article { top:150px; width:1024px; }
footer { top:700px; width:1024px; background-color:mistyrose; margin-bottom:10px; }

div#wrapper {
    width: 950px;
    height: 500px;
    border: 1px dashed black;
    background-color: powderblue;
    margin: 10px auto;
    padding: 0px;
}

h1 { text-align: center; height: 10px; }

img#lecimg {
    float: left;
    width: 297px;
    height: 357px;
    margin-left: 50px;
	margin-top: 50px;	
}

tr { float: center; }

td.right {
    text-align: right;	
    width: 80px;
    height: 50px;	
}

div#right {
    width: 500px;
    height: 380px;
    border: 1px solid black;
    float: right;
    background-color: white;
    margin-right: 50px ;
	margin-top: 37px;
}
