* { 
	margin: 0; padding: 0;
	font-family: '맑은 고딕', 'Malgun Gothic', Gothic, sans-serif;
}

/* 1. 전체적인 웹문서의 css 설정 (총 11점) */

a {  /*	1. (1)
		하이퍼링크 밑줄 없애기
		링크 색상(darkslategrey) 지정 */
		color: rgb(28, 59, 115);
		text-decoration: none;
}
a:hover {
	/*	1. (2)
		하이퍼링크 마우스 오버시 글자 및 배경색 반전 지정 */
		background-color: rgb(28, 59, 115);
		color: white;
}
li { 
	/*	1. (3)
		블릿(마커) 스타일 없애기 */
		list-style: none;
}
iframe {
	/*	1. (3)
		테두리 선 없애기 */
		border-style: none;
}
body#main {
	margin: 0 auto;
	/* 	1. (4) 바깥쪽 영역
		너비(960px), 배경색(#E6E6E6) 지정 */
		width: 960px;
		background-color: #E6E6E6;
}
#page-frame {
	/*  1. (5) 안쪽 영역
		배경색 지정, 
	   	마진(상하 40px) 및 패딩(상하 10px 좌우 20px) 지정, 
		테두리 라운딩(5px), 
		박스 그림자(크기와 색상 완성화면과 유사하게 되도록 자유선택) 지정 */
		background-color: white;
		margin-top: 40px;
		margin-bottom: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 5px;
		text-shadow: 3px 3px 5px 3px darkgray;
}
#main-page {	
	/*   1. (6)
		너비(720px), 
		배경색, 
	   	마진(50px) 및 패딩(50px) 지정,
	   	테두리 라운딩(5px), 
		박스 그림자(크기와 색상 완성화면과 유사하게 되도록 자유선택) 지정 */
		width: 720px;
		background-color: #E6E6E6;
		margin: 50px;
		padding: 50px;
		border-radius: 5px;
		text-shadow: 3px 3px 5px 3px darkgray;
}
#main-content {
	/*	1. (6)
		줄간격(100px) 지정 */
		line-height: 100px;

}
#suggest-content {
	/*	1. (6)
		줄간격(60px) 지정 */
		line-height: 60px;
}
footer {
	clear: left;
	/*	1. (7)
		패딩(상하 20px 좌우 10px), 
	   	위에 테두리(1px, 실선, #C8C8C8) 지정 */	
		padding: 20px 10px;
		border-top: 1px solid #C8C8C8;
}

/*  1. (8) 제시되지 않은 설정, 색상, 크기 등은 완성 화면을 참조하여 지정할 것  */

section {
	/* 왼쪽 자리 배치 지정
	   너비(900px) 지정 */
	   float:left;
	   width: 900px;
}
article {
	/* 패딩(완성화면과 유사하게 되도록 자유선택) */
	padding: 10px;
}
td {
	/* 패딩(완성화면과 유사하게 되도록 자유선택) */
	padding: 10px;
}

/* 2. iframe으로 인라인 화면 분할되어 있는 index.html 완성 (총 8점) */

#main-header { 
	/* 	2. (1)
		높이(180px) 지정,
		패딩(완성화면과 유사하게 되도록 자유선택) 지정,
	   	아래 테두리(1px, 실선, #C8C8C8) 지정 */
		height: 180px;
		padding: 10px;
		border-bottom: 1px solid #C8C8C8;
}

/* 필요따라 h1, h2 태그가 삽입되는 부분에 패딩 지정으로 간격 조절 및 h3 태그의 위지 지정 */

nav {
	/*	2. (3)
	   	상단(윗쪽에서 210px)에 고정
	   	너비(700px), 
		폰트크기(15px), 
		폰트굵기(600), 
		폰트 가운데정렬 지정
		
		패딩 및 마진(완성화면과 유사하게 되도록 자유선택)

		테두리 라운딩(10px)
		박스 그림자(크기와 색상 완성화면과 유사하게 되도록 자유선택) 지정 */
		position: fixed;
		top :210px;
		width: 700px;
		font-size: 15px;
		font-weight: 600;
		text-align:center;
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		box-shadow: 10px 10px 10px darkgray;
		background-color: white;
}

nav li {
	/* 	완성화면과 유사하게 되도록 너비 및 간격(인라인 블럭 등) 지정 */
	width: 100px;

	display: inline-block;
}

/* 3. main_page.html 완성 (총 4점) */

/* 3. (1)  */

.smallimg {
	/* 절대위치(위 100px, 좌 530px) 지정 */
	top: 100px;
	left: 530px 
}		
.bigimg{
    /* 절대위치(위 50px, 좌 480px)
       큰 이미지 보이지 않게 지정
       박스 그림자(크기와 색상 완성화면과 유사하게 되도록 자유선택) 지정 */		
	   visibility: hidden;
	   top: 50px;
	   left: 480px;
	   box-shadow: 10px 10px 10px darkgray;
}

.img:hover .bigimg {
    /* 마우스 올려 놓으면 보이도록 지정 */	
	visibility: visible;
}

#web-header {
	/* 배경색 지정, 
	   패딩(완성화면과 유사하게 되도록 자유선택)
	   아래 테두리(1px, 실선, #C8C8C8) 지정 */
	   background-color: whitesmoke;
	   padding: 10px;
	   border-bottom: 1px solid #C8C8C8;
}

/* 5. suggest_page.html 완성 (총 5점) */

/* 5. (1)  */

fieldset {
    /* 폼 요소 그룹핑 너비(500px)
	   패딩 및 마진(완성화면과 유사하게 되도록 자유선택)  */	
	   width: 500px;
	   margin: 10px;
	   padding: 10px;
	   line-height: 50px;
	   border: 1px solid #C8C8C8;
	   box-shadow: 10px 10px 10px black;
}
legend {
    /* 굵게 지정
	   마진(완성화면과 유사하게 되도록 자유선택)  */
	   margin: 10px;
}
.info {
    /* "전공, 학년, 관심분야, 건의사항" 항목의 정렬 상태
	   완성화면과 유사하게 되도록 너비 및 간격(인라인 블럭 등) 지정   
	   마진(완성화면과 유사하게 되도록 자유선택)  */
	   width: 100px;
	   margin: 10px;
	   display: inline-block;
}
#send {
    /* "보내기, 취소" 버튼의 가운데 정렬
	   마진(완성화면과 유사하게 되도록 자유선택)  */
	   margin-left: 250px;
}
textarea {
    /* textarea 왼쪽의 "건의사항" 항목의 수직 가운데 정렬 */
	vertical-align: middle;
}
textarea:hover {
	/* 	5. (2)	
		마우스 오버할때 배경색(완성화면과 유사하게 되도록 자유선택) 지정
	   	글자색(darkslategrey) 지정 */
		background-color: aqua;
		color: darkslategrey;
}